{% extends "shop/layouts/main.html" %}

{% block title %}Order Success | ShopKart{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="card shadow-sm p-4" style="max-width: 550px; width: 100%;">
    <div class="text-center">
      <div class="mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.97 11.03a.75.75 0 0 0 1.07 0l3.992-3.992a.75.75 0 0 0-1.06-1.06L7.5 9.439 5.992 7.93a.75.75 0 0 0-1.06 1.06l2.038 2.038z"/>
        </svg>
      </div>
      <h3 class="text-success mb-2">🎉 Order Placed Successfully!</h3>
      <p class="text-muted">Thank you for shopping with ShopKart. Your payment was successful.</p>
      <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
      <a href="{% url 'my_orders' %}" class="btn btn-outline-secondary mt-3 ms-2">
        Go to My Orders</a>
    </div>

    <div class="mt-4 border-top pt-3">
      <h6>Order Summary</h6>
      {% if order %}
      <p>Order ID: <strong>#{{ order.id }}</strong></p>
      <p>Payment Method: <strong>{{ order.payment_mode }}</strong></p>
      <p>Total Amount: <strong>₹{{ order.total_price }}</strong></p>
      
      <a href="{% url 'order_details' order.id %}" 
         class="btn btn-outline-success mt-2">
         View Order Details
      </a>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}